{
  "parser": "espree",
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "mocha": true
  },
  "rules": {
    "array-bracket-spacing":        [2, "never"],
    "block-scoped-var":             [2],
    "block-spacing":                [2, "always"],
    "brace-style":                  [2, "1tbs"],
    "callback-return":              [2, ["callback", "cb", "next", "done"]],
    "comma-spacing":                [2, {"before": false, "after": true}],
    "comma-style":                  [2, "last"],
    "computed-property-spacing":    [2, "never"],
    "consistent-this":              [2, "self"],
    "curly":                        [2],
    "dot-notation":                 [2, {"allowPattern": "(\\$)"}],
    "eol-last":                     [2],
    "eqeqeq":                       [1, "smart"],
    "func-names":                   [2],
    "func-style":                   [2, "expression"],
    "handle-callback-err":          [2],
    "indent":                       [2, 2, {"SwitchCase": 1}],
    "key-spacing":                  [2, {"beforeColon": false, "afterColon": true}],
    "linebreak-style":              [2, "unix"],
    "lines-around-comment":         [2, { "beforeBlockComment": true, "afterBlockComment": true, "beforeLineComment": false, "afterLineComment": false }],
    "max-depth":                    [2, 4],
    "no-else-return":               [2],
    "no-loop-func":                 [2],
    "no-mixed-requires":            [2],
    "no-mixed-spaces-and-tabs":     [2, "smart-tabs"],
    "no-multiple-empty-lines":      [1, {"max": 2}],
    "no-return-assign":             [2, "always"],
    "no-spaced-func":               [2],
    "no-trailing-spaces":           [2],
    "no-unexpected-multiline":      [1],
    "object-curly-spacing":         [2, "always"],
    "one-var":                      [2, "never"],
    "padded-blocks":                [2, "never"],
    "semi":                         [1, "always"],
    "sort-vars":                    [2, { "ignoreCase": true }],
    "space-after-keywords":         [2, "always"],
    "space-before-blocks":          [2],
    "space-before-function-paren":  [1, "never"],
    "space-before-keywords":        [2, "always"],
    "space-in-parens":              [2, "never"],
    "space-infix-ops":              [2],
    "space-return-throw-case":      [2],
    "space-unary-ops":              [1, { "words": true, "nonwords": false }],
    "spaced-comment":               [1, "always"],
  }
}
